<div class="content-list">
    <div class="title-list">Livros Cadastrados</div>
    <hr>
    <div class="itens-list">
        <div class="item-list" *ngFor="let book of books">
            <a href="/books/{{book?.key}}">
                <div class="item-list-title">{{book?.title}}</div>
                <div class="item-list-author">{{book?.author}}</div>
                <div class="item-list-place">{{book?.place}}</div>
            </a>
            <div class="divider"></div>
        </div>
    </div>
</div>
