<div class="sidebar">
    <div class="side-bar-button-container">
        <a routerLink="/books">
            <app-button-sidebar>
                <div class="icon">menu_book</div>
                <div class="title">Livros</div>
            </app-button-sidebar>
        </a>
        <a routerLink="/students">
            <app-button-sidebar>
                <div class="icon">person</div>
                <div class="title">Alunos</div>
            </app-button-sidebar>
        </a>
        <div class="sidebar-button">
    </div>
</div>