.example-container {
    display: flex;
    flex-direction: column;
  }
  

form{
    background-color: #ffffff;
}

form-title{
    background-color: #00B75B;
    color: #ffffff;
}

form-icon-close{
    
}

form-title-label{
    
}

form-fields{
    
}